.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
}

.search-input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  color: #2e2f42;
  transition: border-color 250ms ease;
}

.search-input::placeholder {
  color: #808080;
}

.search-input:hover {
  border-color: #000000;
}

.search-input:focus {
  border-color: #4e75ff;
}

.search-btn {
  min-width: 91px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
}
